@import "./base/reset.scss";
@import "./base/set.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --bg-0: #161617;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  max-width: 100dvw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
  background: #f5f5f7;
}

* {
  &::selection {
    background-color: #ccc;
  }
}

.monsreel-carousel {
  overflow: visible;
  .swiper-slide {
    //width: 394px !important;
  }
}

.super-center {
  @apply flex items-center justify-center;
}

.Our-Indicators {
  @apply mt-5;
  .react-tabs__tab--selected {
    background-color: #0171e3;
    color: #fff;
    border-radius: 100px;
  }

  .tab__delivery_panels {
    cursor: pointer;
  }
}

.Mosnreel-tabs,
.Monstr-Showreel {
  background-color: #f5f5f7;

  @apply transition-all;
  .tab__delivery_panels {
    cursor: pointer;

    &:focus-visible {
      outline: none;
    }
  }
  .react-tabs__tab--selected {
    background-color: #0171e3;
    color: #fff;
    border-radius: 100px;
  }
}

.our-works {
  &__buttons {
    background: white;
    @apply inline-flex gap-3.5 p-[5px] bg-white rounded-full;
  }
}

.our-works-container {
  position: relative; /* Чтобы пагинация позиционировалась относительно контейнера */
}

.swiper-works {
  /* Стили для Swiper, если нужно */
}

.custom-pagination {
  display: flex; /* Горизонтальное расположение элементов пагинации */
  justify-content: center; /* Выравнивание по центру */
  margin-top: 20px; /* Отступ сверху от Swiper */

  &__wrapper {
    @apply bg-white flex rounded-full overflow-hidden;
  }
}

.pagination-item {
  width: auto;
  height: auto;
  background-color: #fff; /* Цвет неактивных элементов */
  color: #000;
  cursor: pointer; /* Курсор "рука" при наведении */

  @apply px-6 py-2.5;
}

.pagination-item.swiper-pagination-bullet-active {
  /* Класс для активного элемента (добавим позже в JS) */
  background-color: #007aff; /* Цвет активного элемента, пример - синий */
  border-radius: 100px;
  color: #fff;
}

.vertical__line {
  width: 1px;
  background-color: #424245;
  height: 150px;
}

.gradient-legend-1lvl {
  background: -webkit-linear-gradient(102deg, #00cec9, #004ae6);
  @apply w-full text-center text-black xl:text-[80px] text-[40px] font-bold xl:leading-[70px] leading-[45px];

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// этот класс – для заголовком которые расположены под градиентом
.legend-2lvl {
  @apply w-full text-center justify-center text-[#222222] xl:text-[80px] text-[32px] font-bold xl:leading-[80px] leading-[1.1];
}

.legend-3lvl {
  @apply text-[44px] leading-[48px] md:text-[56px] md:leading-[60px] font-bold;
}

/* text */

.text-1lvl {
  @apply text-center justify-start text-[#222222] text-2xl font-medium mt-[30px];
}

.custom-legend-2lvl {
  @extend .legend-2lvl;
  color: white;
}

.blue-gradient-1lvl {
  background: -webkit-linear-gradient(102deg, #00cec9, #004ae6);
}

// градиент для второй полоски
//

.gradient-one {
  &:is(div) {
    @apply rounded-full;
    background: -webkit-linear-gradient(57deg, #8371fa, #c25ff9);
  }

  &:is(span) {
    background: -webkit-linear-gradient(57deg, #8371fa, #c25ff9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.gradient-two {
  &:is(div) {
    @apply rounded-full;
    background: -webkit-linear-gradient(57deg, #df4fca, #ed4492);
  }

  &:is(span) {
    background: -webkit-linear-gradient(57deg, #df4fca, #ed4492);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.gradient-three {
  &:is(div) {
    @apply rounded-full;
    background: -webkit-linear-gradient(57deg, #008ff7, #497ffa);
  }

  &:is(span) {
    background: -webkit-linear-gradient(57deg, #008ff7, #497ffa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.gradient-four {
  &:is(div) {
    @apply rounded-full;
    background: -webkit-linear-gradient(57deg, #f2425e, #f54e1a);
  }

  &:is(span) {
    background: -webkit-linear-gradient(57deg, #f2425e, #f54e1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.gradient-five {
  &:is(div) {
    @apply rounded-full;
    @extend .blue-gradient-1lvl;
  }

  &:is(span) {
    @extend .blue-gradient-1lvl;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.gradient-actorcore {
  &:is(div) {
    @apply rounded-full;
    background: -webkit-linear-gradient(57deg, #d1e6ab, #246727);
  }

  &:is(span) {
    background: -webkit-linear-gradient(57deg, #d1e6ab, #246727);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.gradient-iClone {
  &:is(div) {
    @apply rounded-full;
    background: -webkit-linear-gradient(57deg, #82be0f, #729f1d);
  }

  &:is(span) {
    background: -webkit-linear-gradient(57deg, #82be0f, #729f1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes expand {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-expand {
  animation: expand 1.9s ease-out forwards;
}

.Our-Directions {
  .directions-items {
    @apply lg:flex-row flex-col;
  }

  //.swiper, .swiper-wrapper {
  //  overflow: visible;
  //}

  .swiper-slide-next,
  .swiper-slide-prev {
    transition: all 0.3s ease 0s;
    opacity: 15%;
  }

  .swiper-slide-active {
    transition: all 0.3s ease 0s;
  }
}

.Our-Indicators {
  .swiper-slide {
    @apply flex justify-center items-center;

    @media (min-width: 1280px) {
      margin: 0 !important;
    }
  }
}

.border_solid {
  border-width: 1px;
  border-style: solid;
}

.szh-accordion__item-content {
  transition: height 0.3s cubic-bezier(0, 0, 0, 1);
}

// #region // * Phone Number
.tel-input-box-error {
  border: 1px solid red !important;
}

.tel-input-box-no-error {
  border: 1px solid #2d2d2d !important;
}

.react-tel-input {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.react-tel-input .country-list {
  background-color: #ffffff !important;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.react-tel-input .country-list .country.highlight {
  background-color: #eeeeee !important;
}

.react-tel-input .country-list .country:hover {
  background-color: #eeeeee !important;
}

.react-tel-input .form-control {
  width: 100% !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  color: #494949 !important;

  background: transparent !important;
  border: none !important;
  border-radius: 0px !important;

  padding-right: 20px !important;
  padding-left: 50px !important;
}

.react-tel-input .flag-dropdown {
  background-color: transparent !important;
  border: none !important;
  padding-left: 7px !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}
.react-tel-input .flag-dropdown.open .selected-flag {
  background-color: transparent !important;
}
// #endregion

.text-block-jpa {
  height: 100px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.split-word {
  will-change: transform, opacity;
}

.tariff-custom_scroll_description {
  .rcs-custom-scrollbar {
    padding: 0 !important;
    right: 0px !important;
    width: 5px !important;
    opacity: 1 !important;
  }
  .rcs-inner-handle {
    background-color: #6b6b6ba0 !important;
  }
  .rcs-custom-scroll-handle {
    height: 60px !important;
  }
}

// *_*_*_*_*

.pulse-ring {
  position: relative;
  animation: pulse-border 2s infinite ease-in-out;
}

@keyframes pulse-border {
  0% {
    box-shadow: 0 0 0 6px rgba(1, 113, 227, 0.4);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(1, 113, 227, 0.2);
  }
  100% {
    box-shadow: 0 0 0 6px rgba(1, 113, 227, 0.4);
  }
}

.tooltip-arrow {
  position: absolute;
  left: 50%;
  bottom: -10px; /* Расстояние от основного блока */
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent; /* Создает прозрачные боковые части */
  border-right: 10px solid transparent;
  border-top: 10px solid white; /* Белый цвет для верхней части (треугольник) */
}

.learn-more-button {
  @apply text-base text-[#0066CC] mt-4 hover:underline cursor-pointer;

  &::after {
    content: " >";
  }


}

.beige-graident-text {
background: -webkit-linear-gradient(135deg, #E1C099, #B68455);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-weight: 600;
}

.box-reflect {
  color: #ddbc98; /* Цвет текста на изображении */
  -webkit-box-reflect: below -100px linear-gradient(to bottom, rgba(221, 188, 152, 0.0), rgba(221, 188, 152, 0.2));

}